In [4]:
import pandas as pd

from sklearn.metrics import f1_score

In [2]:
baseline = pd.read_csv('submissions/submission_crf_only_1.csv')
baseline

          Id  Label
0          0  aucun
1          1  aucun
2          2  aucun
3          3  aucun
4          4  aucun
...      ...    ...
26168  26168  aucun
26169  26169  aucun
26170  26170  aucun
26171  26171  aucun
26172  26172  aucun

[26173 rows x 2 columns]

In [7]:
sub1 = pd.read_csv('submissions/submission_crf_only_0.0001_0.1_1.csv')

f1_score(baseline['Label'], sub1['Label'], average='micro')

0.9045963397394261

In [8]:
sub2 = pd.read_csv('submissions/submission_crf_only_0.1_0.0001_1.csv')
f1_score(baseline['Label'], sub2['Label'], average='micro')

0.9309975929392887

In [11]:
sub3 = pd.read_csv('submissions/submission_crf_only_0.001_0.1_1.csv')
f1_score(baseline['Label'], sub3['Label'], average='micro')

1.0

In [9]:
baseline['sub1'] = sub1['Label']
baseline['sub2'] = sub2['Label']

In [10]:
baseline[
    baseline['Label'] != baseline['sub2']
]

          Id          Label      sub1           sub2
6          6          aucun     aucun  geogName name
38        38          aucun  geogName       geogName
67        67       geogFeat     aucun          aucun
87        87  geogName name     aucun          aucun
151      151  geogName name     aucun          aucun
...      ...            ...       ...            ...
26105  26105  geogName name     aucun          aucun
26113  26113       geogFeat     aucun          aucun
26114  26114       geogFeat     aucun          aucun
26121  26121          aucun  geogFeat       geogFeat
26129  26129          aucun  geogFeat       geogFeat

[1806 rows x 4 columns]